language: ruby
global:
  - USERNAME=travis
    PASSWORD=
rvm:
  - 2.3.0
  - 2.2.0
  - 2.1.0
  - 1.9.3
  - rbx-2
  - jruby-1.7
  - jruby-9
env:
  - DB=postgresql
  - DB=mysql
before_install:
  - gem update bundler
  - bundle --version
  - gem update --system 2.1.11
  - gem --version
